# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
/APP/**/doc/api/
/APP/**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/APP/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/APP/android/app/debug
/APP/android/app/profile
/APP/android/app/release

/API/certificates
/API/node_modules



/APP/android/gradle-wrapper.jar
/APP/android/.gradle
/APP/android/captures/
/APP/android/gradlew
/APP/android/gradlew.bat
/APP/android/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
/APP/android/**/*.keystore
/APP/android/**/*.jks

/API/.env
/API/src/data

/APP/lib/firebase_options.dart